# ===== Java =====
*.class
*.log

# ===== Build =====
target/
out/

# ===== Package Files =====
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ===== IDEs =====
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# ===== BlueJ =====
*.ctxt

# ===== Mobile Tools for Java =====
.mtj.tmp/

# ===== JVM crash logs =====
hs_err_pid*
replay_pid*

# ===== Environment / Secrets =====
.env
config.properties
